$accent-color: aliceblue;
$secondary-color: #27ae60;

.song {
	border: 1px solid transparent;
	width: 15%;
	min-height: fit-content;
	max-height: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vw;
	color: aliceblue;
	transition: all 200ms;
	cursor: pointer;
	position: relative;

	&:hover {
		border-color: $secondary-color;
		box-shadow: 0 0 10px rgba($secondary-color, $alpha: 0.2);
		.playButton {
			opacity: 1;
		}
	}

	& > img {
		height: 50%;
		width: fit-content;
		margin-bottom: 1vw;
	}
}
.details {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}
.title {
	transition: all 200ms;
	margin-bottom: 0.5vw;
}

.author {
	color: rgba($color: #fff, $alpha: 0.5);
}

p {
	font-size: 1.1vw;
}

.playButton {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($secondary-color, 0.5);
	display: flex;
	justify-content: center;
	opacity: 0;

	transition: all 200ms;

	& > svg {
		width: 8vw;
		color: rgba(#fff, 1);
	}
}

@media only screen and (max-width: 600px) {
	.song {
		width: 100%;

		margin-bottom: 3vw;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-bottom: 10vw;

		& > img {
			width: 27vw;
			margin-right: 3vw;
		}
	}

	.details {
		align-items: flex-start;
		text-align: left;
	}

	.title {
		font-size: 5vw;
	}

	.author {
		font-size: 3.5vw;
	}

	.playButton {
		display: none;
	}
}
