$font-color: #333;
$font-color-secondary: #4f4f4f;
$accent-color: aliceblue;
$secondary-color: #27ae60;

.rec {
	overflow: auto;
}

.songs {
	display: flex;

	flex-wrap: wrap;
	gap: 0.3vw;
	padding: 0 0.3vw;
}

.header {
	font-size: 2vw;
	margin-left: 1vw;
	margin-bottom: 1.3vw;

	font-weight: 600;
	margin-top: 0.5vw;
	color: aliceblue;
}

@media only screen and (max-width: 600px) {
	.header {
		text-align: center;
		font-size: 7vw;
		margin-bottom: 3vw;
	}
	.songs {
		display: flex;
		flex-direction: column;

		flex-wrap: wrap;
		gap: 0.3vw;
		padding: 0 0.3vw;
	}
}
