$font-color: #333;
$font-color-secondary: #4f4f4f;
$accent-color: #27ae60;

.songs {
	display: flex;
	flex-wrap: wrap;
	gap: 2vw;

	& > div {
		cursor: pointer;
	}
}

.search {
	height: 100%;
	overflow: auto;
	padding: 1vw;
	width: 100%;
}
.searchField {
	box-sizing: content-box;
	width: 80%;
	height: 3vw;
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	justify-content: space-between;
	padding: 0.2vw 0.7vw;
	border-radius: 0.7vw;
	border: 1px solid $accent-color;
	position: relative;
	overflow: hidden;

	& > input {
		border: none;
		outline: none;
	}

	& > button {
		position: absolute;
		padding: 0.5vw;
		top: 0;
		right: 0;
		border: none;
		background: $accent-color;
		height: 100%;
		cursor: pointer;
		&:hover {
			& > svg {
				color: white;
			}
		}
		& > svg {
			color: white;
			width: 1.5vw;
		}
	}
}
